@model PjA2Tp3.Models.Vaga

@{
    ViewData["Title"] = "Details";
    var empresa = Context.Session.GetString("empLogado");
    var permissao = Context.Session.GetString("permissao");
}
<head>
    <link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />
</head>


<div class="align-items-center"  style="width: 100%; height:auto; display: flex; align-items: center; justify-content: center;">

    <div class="cards">
       
        <div class="card card3">
            <div class="container">
                <img src="~/css/singapore.jpg" alt="New York">
            </div>
            <div class="details">
                <h3> @Html.DisplayFor(model => model.Titulo)</h3>
                <p>@Html.DisplayFor(model => model.Descricao)</p>
                <p>Salário R$ @Html.DisplayFor(model => model.Remuneracao)</p>
                <p>Vaga no periodo @Html.DisplayFor(model => model.Turno) e <strong> @Html.DisplayFor(model => model.Modalidade)</strong></p>
                <h3>Fornecida por  <a class="link-light" asp-controller="Empresas" asp-action="Profile" asp-route-id="@Model.Empresas.Id">@Html.DisplayFor(model => model.Empresas.NomeFantasia)</a></h3>
            </div>
        </div>
        
    </div>

</div>
 @if (empresa != null || permissao == "0")
 {
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
 }
