@model IEnumerable<PjA2Tp3.Models.Vaga>
@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center row row-cols-2">
    
    
    @foreach (var item in Model)
    {
        <div class="card shadow-lg">
          <h5 class="card-header">@Html.DisplayFor(modelItem => item.Titulo)</h5>
          <div class="card-body">
                <h5 class="card-title">
                    <a asp-controller="Empresas" asp-action="Profile" asp-route-id="@item.Empresas.Id">@Html.DisplayFor(modelItem => item.Empresas.NomeFantasia)</a>
                </h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Descricao)</p>
                <a class="nav-link text-dark" asp-area="" asp-controller="Vagas" asp-action="Details" asp-route-id="@item.Id">Ver detalhes</a>
          </div>
        </div>
    }
   
</div>
